body {
  font-family: 'Poppins', sans-serif;
  color: #efeded;
  /* background-color: #ffffff; */
  background-image: linear-gradient(rgb(27, 21, 21), rgb(19, 18, 18));
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}


.custom_dark-btn,
.custom_orange-btn {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 145px;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.custom_dark-btn {
  background-color:chocolate;
  color: white;
}

.custom_dark-btn:hover {
  border: 1px solid black;
  color:chocolate ;
  background-color: transparent;
}

.custom_orange-btn {
  background-color:chocolate;
  color: white;
}

.custom_orange-btn:hover {
  border: 1px solid black;
  color:chocolate ;
  background-color: transparent;
}

.custom_heading {
  text-align: center;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
}

.custom_heading-text {
  text-align: center;
}


/*header section*/
.hero_area {
  height: 98vh;
  /* background-color: #f7f7f7; */
  /* background-color: #f4c160 ; */
  /* background-image: linear-gradient(rgb(87, 53, 53), rgb(19, 18, 18)); */
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #efeded;
  text-align: center
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}



.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 45px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #efeded;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}
.mainhed{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/*end header section*/

/* slider section */
.slider_section {
  padding-top: 4%;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
  /* border-radius:30% 40% 30% 40%; */
}

.slider_item-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slider_item-container .slider_item-detail {}

.slider_item-detail h1 {
  font-weight: 700;
  font-size: 60px;
  width: 95%;
  padding-top: 3%;
  font-family: "Sofia", sans-serif;
}

.slider_item-detail p {
  margin: 30px 0;

}

.slider_call-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #edb040;
  color: #fefdfd;
  border-radius: 20px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 105px;
  transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}


/* end slider section */


/* service section */
.service_section .card .card-img-top {
  width: 200px;
  height: 200px;
  margin: 30px auto 2px auto;
}

.service_section .card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  height: 300px;
  background-image: linear-gradient(rgb(27, 21, 21), rgb(19, 18, 18));
 
}

.service_section .card .card-title {
  color: chocolate ;

}

.service_section .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: transparent;
}

.service_section .card:hover {
  cursor: pointer;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

}

.service_section .card:hover::after {
  background-color: chocolate;
}

/* end service section */


/* tasty section */

.tasty_section {
  width: 100%;
  height: 500px;
  background-image: url(../images/shopcake.jpg);
  filter:opacity(0.6);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tasty_section h2 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #faa70e;
  font-family: "Sofia", sans-serif;
}

/* end tasty section */


/* contact section */

.contact_section h2 {
  background-repeat: no-repeat;
  background-size: 215px;
  background-position: right center;
  font-family: "Sofia", sans-serif;
  text-align: center;
  justify-content: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: .8px double #252525;
  width: 80%;
  margin: 10px 0;
   text-align: center;
  justify-content: center; 
}

.contact_form-container {
  padding: 15px 0 15px 0;
  /* background: chocolate; */
  text-align: center;
  justify-content: center;

}

.contact_form-container button {
  border: none;
  background-color: #252525;
  color: #fff;
  padding: 4px 30px;
  text-transform: uppercase;
  font-size: 14px;
}


/* contact section */

/* map section */
.map_section {
  height: 500px;
}


/* end map section */

/* info section */
.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;

}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .form_container input {
  width: 225px;
  height: 30px;
}

.info_section .form_container button {
  background-color: #fc5d35;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  margin-top: 15px;
  font-size: 15px;
}

/* end info section */


/* footer section*/

/* .footer_section {
  background-color: #efeded;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
} */

.footer_section p {
  color: #191818;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #191818;
}

/* end footer section*/